:root {
    font-family: sans-serif;
    --border-color : #0288d147 ;
    --container-width : 500px ;
}
.upload-container {
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 20px 20px   #0000002e;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.drop-zone  {
    width: var(--container-width);
    min-height: 200px;
    border: 2px dashed var(--border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s ease;
}

.dragged.drop-zone {
    background : var(--main-bg-color);
    border-color: #2196f3;
}

.icon-container {
    width: 75px;
    height: 100px;
    position: relative;
}

.icon-container img {
    width: 75px;
    position: absolute;
    transform-origin: bottom;
    transition: transform 0.25s ease-in-out;
}

.icon-container .center {
    z-index: 2;
}

.icon-container .right, .icon-container .left {
    filter: grayscale(0.5);
    transform: scale(0.9);
}

.dragged .icon-container .right {
    transform: rotate(10deg) translateX(20px) scale(0.9);
}

.dragged .icon-container .left {
    transform: rotate(-10deg) translateX(-20px) scale(0.9);
}

.file-input {
    display: none;
}

.browse-btn {
    color: #2196f3;
    cursor: pointer;
}